<div class="articles">

    <div id="fh5co-offcanvass" style="overflow: scroll;">
        <a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <i class="icon-cross"></i> </a>
      <% if current_user %>
        <a href="/users/<%= current_user.id %>">Profile</a>
        <br>
        <br>
        <a href="/logout">Sign Out</a>
      <% else %>
        <a href="/login">Login</a>
        <br>
        <br>
        <a href="/signup">Sign Up</a>
      <% end %>
        <h1 class="fh5co-logo"><a class="navbar-brand" href="/">Fltr</a></h1>
        <div v-for="source in sources">{{ source.source }} <input type="checkbox" :value="source.source" v-model="checkedSources" v-on:click="createSource(source)"></div>
    </div>
    <div id="fh5co-header" role="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <a href="#" class="fh5co-menu-btn js-fh5co-menu-btn">Menu <i class="icon-menu"></i></a>
            <a class="navbar-brand" href="/">Fltr</a>  
          </div>
        </div>
      </div>
    </div>

<% if current_user %>
  <%= form_tag "/articles/keyword/create", method: :post do %>
    <input type="text" placeholder="Remove articles..." name="keyword" style="float:left;">
    <input type="submit" value="Remove" style="float:left;">
  <% end %>
<% end %>

<button v-on:click="setSortAttribute('title')" style="float:left;margin-left: 50px;">Order by Title</button>

<button v-on:click="setSortAttribute('source')"  style="float:left;margin-left: 5px;">Order by Source</button>

<input style="float:left;margin-left: 100px;padding-left: 50px;padding-right: 50px;" id="search" name="search" type="text" placeholder="Find Articles with title..." v-model="articleTitleFilter">

<% if current_user %>
  <h6 style="text-align: right;">Total articles showing: {{ totalNumberArticles.length }}</h6>
  <h6 style="text-align: right;">Total articles removed: {{ removedArticles.length }}</h6>
<% end %>

    <div id="fh5co-main">
        <div class="container">
          <div class="row">
              <div id="fh5co-board" data-columns>

                <div class="item" v-for="article in filteredArticles">
                  <div class="animate-box bounceIn animated">
                    <a v-bind:href="article.url" class="image-popup fh5co-board-img"><img v-bind:src="article.urlToImage" alt=""></a>
                    <div class="label label-default">{{article.source}}</div>
                    <div class="fh5co-desc">{{ article.title }}</div>

                    <% if current_user %>
                      <button class="btn btn-default btn-sm" v-on:click="toggleFavorited(article)" style="border:none;">
                      
                        <span v-if="article.favorited" class="glyphicon glyphicon-heart"></span>
                        <span v-if="!article.favorited" class="glyphicon glyphicon-heart-empty"></span>

                      </button>

                        <input type="text" v-model="article.phoneNumber">
                        <input v-on:click="sendText(article)" type="submit" value="Send">

                    <% end %>

                    <span style="font-size:10px; padding-left:10px;">{{ moment(article.publishedAt) }}</span>

                  </div>
                </div>


              </div>
          </div>
        </div>
    </div>
  </div>

