<div class="articles">

    <div id="fh5co-offcanvass" style="overflow: scroll;">
        <a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <i class="icon-cross"></i> </a>
      <% if current_user %>
        <a href="/users/<%= current_user.id %>">Profile</a>
        <br>
        <br>
        <a href="/logout">Sign Out</a>
      <% else %>
        <a href="/login">Login</a>
        <br>
        <br>
        <a href="/signup">Sign Up</a>
      <% end %>
        <h1 class="fh5co-logo"><a class="navbar-brand" href="/">Fltr</a></h1>
        <div v-for="source in sources">{{ source.source }} <input type="checkbox" :value="source.source" v-model="checkedSources" v-on:click="createSource(source)"></div>
    </div>
    <div id="fh5co-header" role="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <a href="#" class="fh5co-menu-btn js-fh5co-menu-btn">Menu <i class="icon-menu"></i></a>
            <a class="navbar-brand" href="/">Fltr</a>  
          </div>
        </div>
      </div>
    </div>

<% if current_user %>
  <%= form_tag "/articles/keyword/create", method: :post do %>
    <input type="text" placeholder="Remove articles..." name="keyword" style="float:left;">
    <input type="submit" value="Remove" style="float:left;">
  <% end %>
<% end %>


<button v-on:click="setSortAttribute('title')" style="float:left;margin-left: 50px;">Order by Title</button>

<button v-on:click="setSortAttribute('source')"  style="float:left;margin-left: 5px;">Order by Source</button>

<input style="float:left;margin-left: 100px;padding-left: 50px;padding-right: 50px;" id="search" name="search" type="text" placeholder="Find Articles with title..." v-model="articleTitleFilter">

<% if current_user %>
  <h6 style="text-align: right;">Total articles showing: {{ totalNumberArticles.length }}</h6>
  <h6 style="text-align: right;">Total articles removed: {{ removedArticles.length }}</h6>
<% end %>

    <div id="fh5co-main">
        <div class="container">

          <!-- Removed Articles -->

            <!-- Button trigger modal -->
              <button  data-target="#myModal" data-toggle="modal" type="button" v-on:click="showRemovedList">
                <span v-if="showRemovedList">Show {{removedArticles.length}} removed articles</span>
                <!-- <span v-if="showRemovedList">Hide {{removedArticles.length}} removed articles</span> -->
              </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Removed Articles</h4>
                  </div>
                  <div class="modal-body">
                      <div v-if="showRemovedList" v-for="article in removedArticles" class="well" style="background:white;">
                        <a v-bind:href="article.url" class="image-popup fh5co-board-img"><img style="width:100%;" v-bind:src="article.urlToImage" alt=""></a>
                                
                      <div class="label label-default" style="align-items: left;">{{article.source}}</div>


                      <% if current_user %>
                        <button class="btn btn-default btn-sm" v-on:click="toggleFavorited(article)" style="border:none;float:left;margin-left:0px;">
                                  
                          <span v-if="article.favorited" class="glyphicon glyphicon-heart"></span>
                          <span v-if="!article.favorited" class="glyphicon glyphicon-heart-empty"></span>

                        </button>
                      <% end %>

                      <span style="font-size:10px; margin-left:10px;text-align: right;">{{ moment(article.publishedAt) }}</span>
                      <div class="fh5co-desc">{{ article.title }}</div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div> -->
                </div>
              </div>
            </div>



          <!-- Filtered Articles -->

          <div class="row">
              <div id="fh5co-board" data-columns>

                <div class="item" v-for="article in filteredArticles">
                  <div class="animate-box bounceIn animated">
                    
                      <a v-bind:href="article.url" class="image-popup fh5co-board-img"><img v-bind:src="article.urlToImage" alt=""></a>
                    
                    <div class="label label-default" style="align-items: left;">{{article.source}}</div>


                    <% if current_user %>
                      <button class="btn btn-default btn-sm" v-on:click="toggleFavorited(article)" style="border:none;float:left;margin-left:0px;">
                      
                        <span v-if="article.favorited" class="glyphicon glyphicon-heart"></span>
                        <span v-if="!article.favorited" class="glyphicon glyphicon-heart-empty"></span>

                      </button>
                    <% end %>

                    <span style="font-size:10px; margin-left:10px;text-align: right;">{{ moment(article.publishedAt) }}</span>
                    <div class="fh5co-desc">{{ article.title }}</div>
                    

                    <!-- Social Sharing  -->
                    
                    <!-- Facebook -->
                    <a v-bind:href='"http://www.facebook.com/sharer.php?u=" + article.url' target=""><img style="width:15px; height:15px;float:left;margin-left: 10px;margin-bottom:10px;" src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
                    
                    <!-- Twitter -->
                    <a v-bind:href='"https://twitter.com/share?url=" + article.url + "&amp;text=" + article.title + "&amp;hashtags=fltr"' target="_blank"><img  style="width:15px;height:15px;float:left;margin-left: 5px;margin-bottom:10px;" src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>


                    <!-- modal -->
                      
                      <button class="glyphicon glyphicon-phone" v-on:click="showPhoneField(article)" style="border:none;float:right;background:white;"></button>
                        <div v-if="article.phoneNumberField">
                        <input style="float:right;margin-right: 15px;margin-bottom: 10px;" v-on:click="sendText(article)" type="submit" value="Send">
                        <input style="width: 100px;float:right;margin-bottom: 10px;" type="text" v-model="article.phoneNumber">
                        </div>


                      <!-- <div>
                        <input type="text" v-model="article.phoneNumber">
                        <input v-on:click="sendText(article)" type="submit" value="Send">
                      </div> -->


                  </div>
                </div>


              </div>
          </div>
        </div>
    </div>
  </div>

