// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user-sources {
  max-width: 150px;
  max-height: 190px;
  min-width: 150px;
  min-height: 190px;
  background: white;
}

#user-favorites {
  max-width: 300px;
  max-height: 325px;
  min-width: 300px;
  min-height: 325px;
  background: white;
}